/.DS_Store
/.cph
/.vscode
/A_AB_Balance.bin
/A_Add_Odd_or_Subtract_Even.bin
/A_Amusing_Joke.bin
/A_Another_Sorting_Problem.bin
/A_Anton_and_Danik.bin
/A_Anton_and_Letters.bin
/A_Anton_and_Polyhedrons.bin
/A_Arena.bin
/A_Array_with_Odd_Sum.bin
/A_Arrays.bin
/A_Arrival_of_the_General.bin
/A_Balanced_Substring.bin
/A_Bear_and_Big_Brother.bin
/A_Beautiful_Matrix.bin
/A_Beautiful_Year.bin
/A_Bit_.bin
/A_Black_Square.bin
/A_Boring_Apartments.bin
/A_Boy_or_Girl.bin
/A_Brain_s_Photos.bin
/A_Buy_a_Shovel.bin
/A_Calculating_Function.bin
/A_Candies_and_Two_Sisters.bin
/A_Cards_for_Friends.bin
/A_Chat_room.bin
/A_Choose_Two_Numbers.bin
/A_Choosing_Teams.bin
/A_Chores.bin
/A_Collecting_Coins.bin
/A_Combination_Lock.bin
/A_Computer_Game.bin
/A_Consecutive_Sum_Riddle.bin
/A_Contest_Start.bin
/A_Countdown.bin
/A_Design_Tutorial_Learn_from_Math.bin
/A_Disjoint_Sets_Union.bin
/A_Dislike_of_Threes.bin
/A_Divisibility_Problem.bin
/A_Do_Not_Be_Distracted_.bin
/A_Domino_Disaster.bin
/A_Domino_piling.bin
/A_Dragons.bin
/A_Dubstep.bin
/A_Elections.bin
/A_Equalize_Prices_Again.bin
/A_Erasing_Zeroes.bin
/A_Even_Odds.bin
/A_Expression.bin
/A_FashionabLee.bin
/A_Find_Array.bin
/A_Football.bin
/A_Fox_And_Snake.bin
/A_Frog_Jumping.bin
/A_Game.bin
/A_Game_With_Sticks.bin
/A_Game_of_Life.bin
/A_Gamer_Hemose.bin
/A_Games.bin
/A_George_and_Accommodation.bin
/A_Gravity_Flip.bin
/A_Greg_s_Workout.bin
/A_HQ9_.bin
/A_Helpful_Maths.bin
/A_Hit_the_Lottery.bin
/A_Holiday_Of_Equality.bin
/A_Hulk.bin
/A_IQ_test.bin
/A_I_Wanna_Be_the_Guy.bin
/A_I_love__username_.bin
/A_In_Search_of_an_Easy_Problem.bin
/A_Insomnia_cure.bin
/A_Is_your_horseshoe_on_the_other_hoof_.bin
/A_Kefa_and_First_Steps.bin
/A_Laptops.bin
/A_Lucky_Division.bin
/A_Luntik_and_Concerts.bin
/A_Magical_Sticks.bin
/A_Magnets.bin
/A_Mahmoud_and_Ehab_and_the_even_odd_game.bin
/A_Maze.bin
/A_Median_Maximization.bin
/A_Mezo_Playing_Zoma.bin
/A_Minimal_Square.bin
/A_Minutes_Before_the_New_Year.bin
/A_Mishka_and_Game.bin
/A_Nearest_Interesting_Number.bin
/A_Nearly_Lucky_Number.bin
/A_New_Year_and_Hurry.bin
/A_Next_Round.bin
/A_Odd_Set.bin
/A_Olesya_and_Rodion.bin
/A_Olympiad.bin
/A_Pangram.bin
/A_Patrick_and_Shopping.bin
/A_People_are_leaving.bin
/A_Perfect_Permutation.bin
/A_Petya_and_Strings.bin
/A_Phoenix_and_Balance.bin
/A_Police_Recruits.bin
/A_Polycarp_and_Coins.bin
/A_Presents.bin
/A_Puzzles.bin
/A_Remove_Smallest.bin
/A_Replacing_Elements.bin
/A_Required_Remainder.bin
/A_Restoring_Three_Numbers.bin
/A_Segment_Tree_for_the_Sum.bin
/A_Short_Substrings.bin
/A_Soft_Drinking.bin
/A_Soldier_and_Bananas.bin
/A_Spy_Detected_.bin
/A_Stones_on_the_Table.bin
/A_Strange_Table.bin
/A_String_Game.bin
/A_String_Task.bin
/A_Subsequence_Permutation.bin
/A_Sum_of_Odd_Integers.bin
/A_Sum_of_Round_Numbers.bin
/A_Team.bin
/A_Team_Olympiad.bin
/A_The_New_Year_Meeting_Friends.bin
/A_Theatre_Square.bin
/A_Three_Pairwise_Maximums.bin
/A_Tram.bin
/A_Translation.bin
/A_Twins.bin
/A_Ultra_Fast_Mathematician.bin
/A_Vanya_and_Cubes.bin
/A_Vanya_and_Fence.bin
/A_Vasya_and_Chocolate.bin
/A_Vasya_and_Socks.bin
/A_Vasya_the_Hipster.bin
/A_Vus_the_Cossack_and_a_Contest.bin
/A_Watermelon.bin
/A_Word.bin
/A_Word_Capitalization.bin
/A_Wrong_Subtraction.bin
/A_Yet_Another_Two_Integers_Problem.bin
/A_Young_Physicist.bin
/A_cAPS_lOCK.bin
/B_Almost_Rectangle.bin
/B_Balanced_Array.bin
/B_Build_the_Permutation.bin
/B_Chess_Tournament.bin
/B_Collecting_Packages.bin
/B_Disjoint_Sets_Union_2.bin
/B_Disturbed_People.bin
/B_Drinks.bin
/B_Even_Array.bin
/B_Frodo_and_pillows.bin
/B_Gifts_Fixing.bin
/B_Hemose_Shopping.bin
/B_Honest_Coach.bin
/B_Interesting_drink.bin
/B_Luntik_and_Subsequences.bin
/B_MIN_MEX_Cut.bin
/B_Make_it_Divisible_by_25.bin
/B_Middle_Class.bin
/B_Multiply_by_2_divide_by_6.bin
/B_Parking.bin
/B_Queue_at_the_School.bin
/B_Sale.bin
/B_Segment_Tree_for_the_Minimum.bin
/B_Special_Numbers.bin
/B_Taxi.bin
/B_Tea_Queue.bin
/B_Teams_Forming.bin
/B_Two_Arrays_And_Swaps.bin
/B_Update_Files.bin
/B_Who_s_Opposite_.bin
/B_Xenia_and_Ringroad.bin
/B_Yet_Another_Bookshelf.bin
/C_Delete_Two_Elements.bin
/C_Experience.bin
/C_Grandma_Capa_Knits_a_Scarf.bin
/C_Less_or_Equal.bin
/C_MAX_MEX_Cut.bin
/C_Make_Them_Equal.bin
/C_Number_of_Minimums_on_a_Segment.bin
/C_Save_More_Mice.bin
/C_Vasya_and_Petya_s_Game.bin
/D_Cutting_a_graph.bin
/D_Divide_by_three_multiply_by_two.bin
/D_Divisible_by_Twenty_Five.bin
/J_Jeopardy_of_Dropped_Balls.bin